<style>
	.navbar {
  background: none;
}
	.parallax { 
  /* The image used */
  background-image: url("https://www.gstatic.com/cast/images/home/background4.jpg");

  /* Set a specific height */
  height: 2000px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}
.hovereffect {
width:100%;
height:900px;;
float:right;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.jumbotron: {
	height:500px;
	opacity: 0.3;
}
#imageBox {
	float: right;
	opacity:0.8;
	height: 800px;

	
}
#transpHeader {
	opacity: 0.6;

}

#transpHeader:hover {
opacity: 0.9;
}

}
#logo {
	opacity: 0.8;
	
	color: white;
	font-family: serif;
	text-align: right;

}
h1 {
	position: relative;
}

#family {
	height: 15%;
	width: 15%;
}




	</style>
